name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  script:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        jlversion: [0.5.2, 1.0.5, 1.3.0, 1.6.0, 1.6.0-rc3]
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
      - name: add symlink dir to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Test script
        env:
          VERSION: ${{ matrix.jlversion }}
        run: bash -e ci-test.sh
